---
import BaseLayout from './BaseLayout.astro';
import { DocsHeader } from '../components/DocsHeader';
import Sidebar from '../components/Sidebar.astro';
import type { CollectionEntry } from 'astro:content';
import { getAllGuides } from '../lib/guide';

export type GuideType = CollectionEntry<'guides'>;

export interface Props {
  guide: GuideType;
}

const allGuides = await getAllGuides();

const { guide } = Astro.props;
const { title } = guide.data;
const { slug } = guide;
---

<BaseLayout title={`${title} - mly.fyi`} permalink={`/docs/${guide.slug}`}>
  <div class='block md:hidden'>
    <DocsHeader activeGuideSlug={slug} guides={allGuides} client:load />
  </div>
  <div class='flex'>
    <Sidebar activeGuideSlug={slug} guides={allGuides} />
    <div
      class="md:proxe-xl prose prose-base mb-24 min-w-0 max-w-[800px] px-6 py-6 prose-p:before:content-[''] prose-blockquote:font-normal prose-blockquote:not-italic prose-blockquote:text-gray-500 md:px-14 md:py-12"
    >
      <slot />
    </div>
  </div>
</BaseLayout>
